header { 
	background-color: BlanchedAlmond;
	border: 5px green solid;
}
article > header {
	border: 5px orange solid
}

article, header {
	margin: 20px;
	padding: 20px
}


h1 {
	font-family: Helvetica
}